mist_timer1.json
[{"id":"40172341.97609c","type":"inject","z":"ef783a52.b78d88","name":"","topic":"","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":true,"x":183,"y":109,"wires":[["45423960.c98ee8"]]},{"id":"45423960.c98ee8","type":"function","z":"ef783a52.b78d88","name":"Pulser","func":"function toggle() {\n    msg.payload = 1\n    node.send( msg);\n}\nmsg.payload = 0\nnode.send( msg );\nsetTimeout(toggle,5000);\nreturn null;","outputs":1,"noerr":0,"x":406,"y":178,"wires":[["3c516360.242b3c","f5e0db5c.c41228","169e14eb.d68dfb"]]},{"id":"3c516360.242b3c","type":"debug","z":"ef783a52.b78d88","name":"","active":true,"console":"false","complete":"false","x":623,"y":145,"wires":[]},{"id":"f5e0db5c.c41228","type":"gpio out","z":"ef783a52.b78d88","name":"relay 1","state":"OUTPUT","pin":"P9_11","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"675bdba0.4c9004","x":603.5,"y":191,"wires":[]},{"id":"169e14eb.d68dfb","type":"ui_text","z":"ef783a52.b78d88","group":"163d4da2.f66302","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":604.5,"y":248,"wires":[]},{"id":"b8e21d25.c4732","type":"ui_button","z":"ef783a52.b78d88","name":"","group":"163d4da2.f66302","order":0,"width":0,"height":0,"passthru":false,"label":"The Button","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":185.5,"y":221,"wires":[["45423960.c98ee8"]]},{"id":"675bdba0.4c9004","type":"nodebot","z":"","name":"BB","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"163d4da2.f66302","type":"ui_group","z":"","name":"Default","tab":"de30f3e4.7cbd7","disp":true,"width":"6"},{"id":"de30f3e4.7cbd7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]