pulser_works.json
[{"id":"40172341.97609c","type":"inject","z":"ef783a52.b78d88","name":"","topic":"","payload":"GO","payloadType":"str","repeat":"","crontab":"","once":true,"x":87,"y":88,"wires":[["b705582.31ac9a8"]]},{"id":"45423960.c98ee8","type":"function","z":"ef783a52.b78d88","name":"Pulser","func":"var freq = global.get(\"interval\") || 60;\nvar duration = global.get(\"duration\") || 5;\n//var intv = intv || null;\n\nfunction turn_off() {\n    msg.payload = 1;\n    node.send( msg);\n}\n\nfunction turn_on(dur = 5) {\n    dur = global.get(\"duration\");\n    msg.payload = 0;\n    node.send( msg );\n    setTimeout(turn_off, dur * 1000);\n    // clearInterval(intv);\n    new_timer();\n}\n\nfunction new_timer() {\n    if (typeof intv !== 'undefined') {\n        clearInterval(intv);\n    }\n    intv = setInterval(turn_on, freq * 1000, duration);\n    msg.topic = \"newtimer\";\n}\nif (msg.payload === \"OnNow\") {\n    turn_on(duration);\n}\n\nif (msg.topic === \"timers\") {\n    new_timer();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["9b2a2cf8.b49cd","f5e0db5c.c41228","169e14eb.d68dfb"]]},{"id":"f5e0db5c.c41228","type":"gpio out","z":"ef783a52.b78d88","name":"relay 1","state":"OUTPUT","pin":"P9_11","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"675bdba0.4c9004","x":850,"y":160,"wires":[]},{"id":"169e14eb.d68dfb","type":"ui_text","z":"ef783a52.b78d88","group":"163d4da2.f66302","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":260,"wires":[]},{"id":"b8e21d25.c4732","type":"ui_button","z":"ef783a52.b78d88","name":"","group":"163d4da2.f66302","order":0,"width":0,"height":0,"passthru":true,"label":"The Button","color":"","bgcolor":"","icon":"","payload":"OnNow","payloadType":"str","topic":"button","x":330,"y":260,"wires":[["45423960.c98ee8"]]},{"id":"a3e4169d.7863a8","type":"ui_slider","z":"ef783a52.b78d88","name":"Frequency","label":"Frequency","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"passthru":true,"topic":"frequency","min":0,"max":"240","step":1,"x":90,"y":160,"wires":[["b705582.31ac9a8"]]},{"id":"2f06401d.f2dba","type":"ui_slider","z":"ef783a52.b78d88","name":"Duration","label":"Duration","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"passthru":true,"topic":"duration","min":0,"max":"20","step":1,"x":80,"y":240,"wires":[["b705582.31ac9a8"]]},{"id":"b705582.31ac9a8","type":"function","z":"ef783a52.b78d88","name":"globals","func":"var intr = global.get(\"interval\") || 30.0;\nvar dur  = global.get(\"duration\") ||  5.0;\n\nif (msg.topic === \"frequency\") {\n    intr = msg.payload;\n}\n\nif (msg.topic === \"duration\") {\n    dur = msg.payload;\n}\n\nnode.status({fill:\"grey\",shape:\"dot\",text:\"Int: \" + intr + \" | Dur: \" + dur});\n\nglobal.set(\"interval\", intr);\nglobal.set(\"duration\", dur);\n\nmsg.payload = \"GO\";\nmsg.topic = \"timers\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["45423960.c98ee8"]]},{"id":"9b2a2cf8.b49cd","type":"debug","z":"ef783a52.b78d88","name":"PulserOut","active":true,"console":"false","complete":"true","x":760,"y":80,"wires":[]},{"id":"675bdba0.4c9004","type":"nodebot","z":"","name":"BB","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"163d4da2.f66302","type":"ui_group","z":"","name":"Default","tab":"de30f3e4.7cbd7","disp":true,"width":"6"},{"id":"db013a7a.cf0fc8","type":"ui_group","z":"","name":"Settings","tab":"de30f3e4.7cbd7","disp":true,"width":"6"},{"id":"de30f3e4.7cbd7","type":"ui_tab","z":"","name":"Sliders","icon":"dashboard"}]