settable_delay.json
[{"id":"528d8612.fe8cd8","type":"inject","z":"ef783a52.b78d88","name":"","topic":"delay","payload":"interval","payloadType":"global","repeat":"","crontab":"","once":false,"x":290,"y":460,"wires":[["b4f496a7.182978"]]},{"id":"b4f496a7.182978","type":"function","z":"ef783a52.b78d88","name":"settable delay","func":"var delay = flow.get('delay') || 0;\nvar delay_display = flow.get('delay_display') || 0;\n\nif (msg.topic === \"delay\") {\n    delay = msg.payload * 1000;\n    flow.set('delay', delay);\n    flow.set('delay_display', delay/1000);\n    node.status({fill:\"grey\",shape:\"dot\",text:flow.get('delay_display') + \" second delay\"});\n}\n\nelse {\n    node.status({fill:\"red\",shape:\"dot\",text:\"delaying...\"});\n    setTimeout(function() {\n        node.status({fill:\"grey\",shape:\"dot\",text:flow.get('delay_display') + \" second delay\"});\n        node.send(msg);\n    }, flow.get('delay'));\n}\n\nreturn null;","outputs":1,"noerr":0,"x":467,"y":521,"wires":[["39f23c0.28784c4"]]},{"id":"39f23c0.28784c4","type":"debug","z":"ef783a52.b78d88","name":"","active":true,"console":"false","complete":"false","x":648,"y":521,"wires":[]},{"id":"a25ba892.6aaa28","type":"inject","z":"ef783a52.b78d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":283,"y":574,"wires":[["b4f496a7.182978"]]}]